body {

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #a4c8ed;
    overflow-x: hidden;
}
.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #3079c2;
    height: 100%;
    text-align: center;
    position: fixed;
    border-radius: 25px;
    top: 0;
}
.left-sidebar { left: 0; }
.right-sidebar { right: 0; }

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-color: #cfc734;
border-style: double;
    margin-bottom: 10px;
}
.profile-info {
    text-align: center;
    margin-bottom: 10px;
}
.btn-section {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #c2d5e9;
    color: rgb(180, 101, 101);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.btn-section:hover {
    background-color: #2d6cb0;
}
.content-container {
    width: 50%;
    margin: auto;
    text-align: center;
    background: rgb(146, 196, 224);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    border-style: double;
}
.content-section {
    padding: 15px;
    background: #72a5c5;
    border-radius: 5px;
    margin-bottom: 15px;
    border-style: double;
}